section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding: 0px 50px;
    display: block;
}

.headline-faq {
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.faq-list {
    display: flex;
    width: 100%;
}

.down-faq-list {
    display: block;
}

.down-faq-list-inner {
    display: block;
    position: relative;
    justify-content: center;
    text-align: start;
    padding: 15px 30px;
    width: 100%;
}

button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.px-4 {
    margin-bottom: 20px;
    background-color: rgb(34, 34, 34);
    padding: 15px 30px;
    border-radius: 10px;
}

.py-2 {
    margin-top: 10px;
}