header {
    padding: .5rem;
    /* padding-top: .8rem; */
    border: 1rem;
    background-color: rgba(40, 40, 40, 0.2);
    border-radius: .3rem;
    display: flex;
    justify-content: space-around;
    font-size: .85rem;
    font-weight: 600;
    align-items: center;
}

input {
    margin-left: 1rem;
    border-radius: 5em;
    font-size: small;
    font-weight: 100;
    padding: .45rem;
    padding-left: 2rem;
    font-family: 'FontAwesome';
    min-width: 50%;
    background-color: rgba(95, 95, 95, 0.581);
}

input:focus {
    background-color: white;
    color: black;
    outline: none;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    min-width: 40%;
    /* background-color: blue; */
}

.tab-container {
    display: flex;
    justify-content: flex-end;
    /* background-color: green; */
    min-width: 60%;
}

.content-tabs {
    display: flex;
    justify-content: space-evenly;
    /* background-color: purple; */
    min-width: 40%;
}

.profile-container {
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    min-width: 20%;
}

span {
    margin-left: .2rem;
    margin-right: .2rem;
    /* background-color: aqua; */
    padding-left: .5rem;
    padding-right: .5rem;

}

#cont-tab:hover {
    background-color: rgba(0,0,0, 0.7);
}